---
layout: index
title: Bitses.org - 1000+ Kripto Varlığın Temel Analizi
---


<div class="call-to-action">
    <!--Post hero image source-->
   <div class="heading-container hero-heading hero-heading-post">
     <h1>
          Kapsamlı Kripto Analizi
     </h1>
     <p>
       1000+ Kripto Varlığın Temel Analizi
     </p>
     <br>
     <div style="margin-top: 1em;">
       <a class="cta-btn" href="http://eepurl.com/dzMEIP">
         Haftalık yeni araştırmaları almak için abone ol
       </a>
     </div>
     <div style="margin-top: 1.7em;">
       <a class="cta-btn" href="https://goo.gl/forms/lVwFi8lR0YtOyhBQ2">
         Araştırmacı olmak için başvur
       </a>
     </div>
   </div>
 </div>


<div class="wrapper-index">
<table id="coin-table" class="sortable">
  <tr>
    <th>İsim</th>
    <th>Özet</th>
    <th>Puan</th>
    <th style="width: 8em;">Tarih</th>
    <th>Araştırmacı</th>
  </tr>

{% for coin in site.coins %}
{% for analysis in site.analyses_tr %}
{% if analysis.coin == coin.slug %}
{% for researcher in site.researchers %}
{% if analysis.researcher == researcher.slug %}
  <tr>
    <td>
      <!-- <a href="{{ coin.url | prepend: site.baseurl }}">{{ coin.name }}</a> -->
      {{ coin.name }}
    </td>
    <td>
      <a href="{{ analysis.url | prepend: site.baseurl }}">{{ analysis.tldr }}</a>
    </td>
    <td>{{ analysis.score }}</td>
    <td sorttable_customkey="{{ analysis.date | date: '%Y%m%d000000' }}">
      {{ analysis.date | date: '%d.%m.%Y' }}
    </td>
    <td>
      <!-- <a href="{{ researcher.url | prepend: site.baseurl }}">{{ researcher.name }}</a> -->
      {% if researcher.twitter %}
      <a href="https://twitter.com/{{ researcher.twitter }}">{{ researcher.name }}</a>
      {% else %}
      {{ researcher.name }}
      {% endif %}
    </td>
  </tr>
{% endif %}
{% endfor %}
{% endif %}

{% endfor %}
{% endfor %}
</table>
</div>
