---
layout: default
---

{% for coin in site.coins %}
{% if coin.slug == page.coin %}
<h1>{{ coin.name }}</h1>
{% endif %}
{% endfor %}

{% for researcher in site.researchers %}
{% if researcher.slug == page.researcher %}
<p><b>Researcher:</b>&nbsp;
  {% if researcher.twitter %}
  <a href="https://twitter.com/{{ researcher.twitter }}">{{ researcher.name }}</a>
  {% else %}
  {{ researcher.name }}
  {% endif %}
</p>
{% endif %}
{% endfor %}
<p><b>Date:</b>&nbsp;
  {{ page.date | date: '%B %d, %Y' }}
</p>

<!-- <h2>Researchers</h2> -->

<!-- <ul> -->
<!--   <li> -->
<!--     {{ page.researcher }} -->
<!--   </li> -->
<!-- </ul> -->

<!-- <h2>Relevant Links</h2> -->

<!-- {% if page.cmc_id %} -->
<!-- <a href="https://coinmarketcap.com/currencies/{{ page.cmc_id }}/" target="_blank">CoinMarketCap Profile</a> -->
<!-- {% endif %} -->

<h2>Analysis</h2>

{{ page.content }}

{% if page.conclusion %}
<h2>Conclusion</h2>

<p>
{{ page.conclusion | markdownify }}
</p>
{% endif %}

