---
layout: default
---

{% for coin in site.coins %}
{% if coin.slug == page.coin %}
<h1>{{ coin.name }}</h1>
{% endif %}
{% endfor %}

{% for researcher in site.researchers %}
{% if researcher.slug == page.researcher %}
<p>
  {% if site_lang == 'en' %}
  <b>Researcher:</b>&nbsp;
  {% else %}
  <b>Araştırmacı:</b>&nbsp;
  {% endif %}
  {% if researcher.twitter %}
  <a href="https://twitter.com/{{ researcher.twitter }}">{{ researcher.name }}</a>
  {% else %}
  {{ researcher.name }}
  {% endif %}
</p>
{% endif %}
{% endfor %}
<p>
  {% if site_lang == 'en' %}
  <b>Date:</b>&nbsp;
  {{ page.date | date: '%B %d, %Y' }}
  {% else %}
  <b>Tarih:</b>&nbsp;
  {{ page.date | date: '%d.%m.%Y' }}
  {% endif %}
</p>

<!-- <h2>Researchers</h2> -->

<!-- <ul> -->
<!--   <li> -->
<!--     {{ page.researcher }} -->
<!--   </li> -->
<!-- </ul> -->

<!-- <h2>Relevant Links</h2> -->

<!-- {% if page.cmc_id %} -->
<!-- <a href="https://coinmarketcap.com/currencies/{{ page.cmc_id }}/" target="_blank">CoinMarketCap Profile</a> -->
<!-- {% endif %} -->

{% if site_lang == 'en' %}
<h2>Analysis</h2>
{% else %}
<h2>Analiz</h2>
{% endif %}

{{ page.content }}

{% if page.conclusion %}
{% if site_lang == 'en' %}
<h2>Conclusion</h2>
{% else %}
<h2>Sonuç</h2>
{% endif %}

<p>
{{ page.conclusion | markdownify }}
</p>
{% endif %}

