---
layout: default
---

{% assign first_path = page.url | slice: 0, 4 %}

{% if first_path == '/tr/' %}
{% assign site_lang = 'tr' %}
{% else %}
{% assign site_lang = 'en' %}
{% endif %}


<div class="container mt-4">

  {% for coin in site.coins %}
  {% if coin.slug == page.coin %}
  <h1 class="h3">{{ coin.name }}</h1>
  {% endif %}
  {% endfor %}

  {% for researcher in site.researchers %}
  {% if researcher.slug == page.researcher %}
  <ul style="list-style-type: none; padding: 0;">
    <li>
      {% if site_lang == 'en' %}
      <b>Researcher:</b>&nbsp;
      {% else %}
      <b>Araştırmacı:</b>&nbsp;
      {% endif %}
      {% if researcher.twitter %}
      <a href="https://twitter.com/{{ researcher.twitter }}" target="_blank">{{ researcher.name }}</a>
      {% else %}
      {{ researcher.name }}
      {% endif %}
    </li>
    {% endif %}
    {% endfor %}

    <li>
      {% if site_lang == 'en' %}
      <b>Score:</b>&nbsp;
      {% else %}
      <b>Puan:</b>&nbsp;
      {% endif %}
      {{ page.score }}
    </li>

    <li>
      {% if site_lang == 'en' %}
      <b>Date:</b>&nbsp;
      {{ page.date | date: '%B %d, %Y' }}
      {% else %}
      <b>Tarih:</b>&nbsp;
      {{ page.date | date: '%d.%m.%Y' }}
      {% endif %}
    </li>
  </ul>
  <!-- <h2>Researchers</h2> -->

  <!-- <ul> -->
    <!--   <li> -->
      <!--     {{ page.researcher }} -->
      <!--   </li> -->
    <!-- </ul> -->

  <!-- <h2>Relevant Links</h2> -->

  <!-- {% if page.cmc_id %} -->
  <!-- <a href="https://coinmarketcap.com/currencies/{{ page.cmc_id }}/" target="_blank">CoinMarketCap Profile</a> -->
  <!-- {% endif %} -->

  {% if site_lang == 'en' %}
  <h2 class="h4">Analysis</h2>
  {% else %}
  <h2 class="h4">Analiz</h2>
  {% endif %}

  {{ page.content }}

  {% if page.pros %}
  {% if site_lang == 'en' %}
  <h2 class="h4">Pros</h2>
  {% else %}
  <h2 class="h4">Artılar</h2>
  {% endif %}
  <p>
    {{ page.pros | markdownify }}
  </p>
  {% endif %}

  {% if page.cons %}
  {% if site_lang == 'en' %}
  <h2 class="h4">Cons</h2>
  {% else %}
  <h2 class="h4">Eksiler</h2>
  {% endif %}
  <p>
    {{ page.cons | markdownify }}
  </p>
  {% endif %}

  {% if page.conclusion %}
  {% if site_lang == 'en' %}
  <h2 class="h4">Conclusion</h2>
  {% else %}
  <h2 class="h4">Sonuç</h2>
  {% endif %}

  <p>
    {{ page.conclusion | markdownify }}
  </p>
  {% endif %}

</div>

<div class="container mt-5">
  {% include externals/disqus.html %}
</div>

<div class="call-to-action mt-4 py-3">
  <!-- <div class="mb-3"> -->

    <!--   <\!-- <h1> -\-> -->
      <!--   <\!--   {% if site_lang == 'en' %} -\-> -->
        <!--   <\!--   Fundamental Analysis of 100+ Crypto Assets -\-> -->
          <!--   <\!--   {% else %} -\-> -->
            <!--   <\!--   100+ Kripto Varlığın Temel Analizi -\-> -->
              <!--   <\!--   {% endif %} -\-> -->
                <!--   <\!-- </h1> -\-> -->

                  <!-- </div> -->
  {% if site_lang == 'en' %}
  <a href="{{ '/' | prepend: site.baseurl }}" class="btn btn-light">
    {% else %}
    <a href="{{ '/tr' | prepend: site.baseurl }}" class="btn btn-light">
      {% endif %}
      {% if site_lang == 'en' %}
      Check out more Reviews
      {% else %}
      Diğer Yorumları İncele
      {% endif %}
    </a>
</div>
