---
layout: compress
---



<!DOCTYPE html>
<html lang="en">
  <head>
    {% include main/head.html %}
    {% include externals/google_analytics.html %}
  </head>

  <body>
    {% include main/header.html %}

    {% if site_lang == 'en' %}
    {% assign analyses = site.analyses %}
    {% else %}
    {% assign analyses = site.analyses_tr %}
    {% endif %}

    <div class="call-to-action py-3 bg-gradient-primary">
      <button type="button" class="btn btn-light">
        {% if site_lang == 'en' %}
        <a class="text-dark" href="http://eepurl.com/dzMEbf" target="_blank">
          Subscribe to get weekly research updates
        </a>
        {% else %}
        <a class="text-dark" href="http://eepurl.com/dzMEIP" target="_blank">
          Haftalık yeni araştırmaları almak için abone ol
        </a>
        {% endif %}
      </button>
      <br>
    </div>


    <div class="container mb-4">
      <div class="text-center mt-5 mb-4">
        <h1 class="h3">
        {% if site_lang == 'en' %}
        Fundamental Analysis of 100+ Crypto Assets
        {% else %}
        100+ Kripto Varlığın Temel Analizi
        {% endif %}
        </h1>
      </div>


      <table id="coin-table" class="sortable table responsive">
        <thead>
          <tr>
            <th>
              {% if site_lang == 'en' %}
              Name
              {% else %}
              İsim
              {% endif %}
            </th>

            <th class="text-center">
              {% if site_lang == 'en' %}
              Summary
              {% else %}
              Özet
              {% endif %}
            </th>

            <th class="text-center" data-toggle="tooltip" data-placement="top" data-html="true" title="
4: Definitely buy this coin.
<br>
3: This is one of the best coins I’ve seen.
<br>
2: You should definitely check this out.
<br>
1: This coin is worth a look.
<br>
0: I’m neutral about this coin.
<br>
-1: Shitcoin.">
              {% if site_lang == 'en' %}
              Score
              {% else %}
              Puan
              {% endif %}
            </th>

            <th class="text-center">
              {% if site_lang == 'en' %}
              Date
              {% else %}
              Tarih
              {% endif %}
            </th>
            <th class="text-center">
              {% if site_lang == 'en' %}
              Researcher
              {% else %}
              Araştırmacı
              {% endif %}
            </th>
          </tr>
          </thead>

          <tbody>
          {% for coin in site.coins %}
          {% for analysis in analyses %}
          {% if analysis.coin == coin.slug %}
          {% for researcher in site.researchers %}
          {% if analysis.researcher == researcher.slug %}
          <tr>
            <td>
              <!-- <a href="{{ coin.url | prepend: site.baseurl }}">{{ coin.name }}</a> -->
              {{ coin.name }}
            </td>
            <td class="text-center">
              <a href="{{ analysis.url | prepend: site.baseurl }}" target="_blank">
                {{ analysis.tldr }}
              </a>
            </td>
            <td class="text-center">{{ analysis.score }}</td>
            <td class="text-center">
              {% if site_lang == 'en' %}
              {{ analysis.date | date: '%B %d, %Y' }}
              {% else %}
              {{ analysis.date | date: ' %d.%m.%Y' }}
              {% endif %}
            </td>
            <td class="text-center">
              <!-- <a href="{{ researcher.url | prepend: site.baseurl }}">{{ researcher.name }}</a> -->
              {% if researcher.twitter %}
              <a href="https://twitter.com/{{ researcher.twitter }}" target="_blank">
                {{ researcher.name }}
              </a>
              {% else %}
              {{ researcher.name }}
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endif %}

          {% endfor %}
          {% endfor %}
          </tbody>
      </table>
    </div>

    {% include main/footer.html %}

    {% include externals/scripting.html %}
</body>
<script>
  $(document).ready(function() {
  $('#coin-table').DataTable({
  responsive: true
  });
  } );
</script>
</html>


