---
layout: compress
---



<!DOCTYPE html>
<html lang="en">
  <head>
    {% include main/head.html %}
    {% include externals/google_analytics.html %}
  </head>

  <body>
    {% include main/header.html %}

    {% if site_lang == 'en' %}
    {% assign analyses = site.analyses %}
    {% else %}
    {% assign analyses = site.analyses_tr %}
    {% endif %}

    <div class="call-to-action py-3">
      <button type="button" class="btn btn-light" data-toggle="modal" data-target="#subscribeModal">
        {% if site_lang == 'en' %}
        Subscribe to get weekly research updates
        {% else %}
        Haftalık yeni araştırmaları almak için abone ol
        {% endif %}
      </button>

      <!-- Modal -->
<div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="subscribeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header"> -->
      <!--   <h5 class="modal-title" id="subscribeModalLabel">Modal title</h5> -->
      <!--   <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
      <!--     <span aria-hidden="true">&times;</span> -->
      <!--   </button> -->
      <!-- </div> -->
      <div class="modal-body">
        <div class="text-left">
          {% if site_lang == 'en' %}
          1. We send a report of our latest research every week.
          {% else %}
          1. Haftalık araştırmalarımızı mail olarak gönderiyoruz.
          {% endif %}
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary my-3" >
            {% if site_lang == 'en' %}
            <a class="text-light" href="http://eepurl.com/dzMEbf" target="_blank">
              <span class="fa fa-envelope"></span>
              Subscribe to our Mailing List
            </a>
            {% else %}
            <a class="text-light" href="http://eepurl.com/dzMEIP" target="_blank">
              <span class="fa fa-envelope"></span>
              Mail Listemize Abone Ol
            </a>
            {% endif %}
          </button>
        </div>
        <div class="text-left">
          {% if site_lang == 'en' %}
          2. We share news on our Telegram channel.
          {% else %}
          2. Anlık yenilikleri Telegram kanalımızda paylaşıyoruz.
          {% endif %}
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary my-3" >
            <a class="text-light" href="https://t.me/bitses" target="_blank">
              <span class="fa fa-telegram"></span>
              {% if site_lang == 'en' %}
              Join our Telegram Channel
              {% else %}
              Telegram Kanalımıza Katıl
              {% endif %}
            </a>
          </button>
        </div>
        <div class="text-left">
          {% if site_lang == 'en' %}
          2. We share updates on our Twitter.
          {% else %}
          2. Anlık güncellemeleri Twitter'da paylaşıyoruz.
          {% endif %}
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary my-3" >
            <a class="text-light" href="https://twitter.com/bitsesorg" target="_blank">
              <span class="fa fa-twitter"></span>
              {% if site_lang == 'en' %}
              Follow our Twitter
              {% else %}
              Bizi Twitter'dan Takip Et
              {% endif %}
            </a>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

    </div>


    <div class="container mb-4">
      <div class="text-center mt-5 mb-4">
        <h1 class="h3">
        {% if site_lang == 'en' %}
        Fundamental Analysis of 100+ Crypto Assets
        {% else %}
        100+ Kripto Varlığın Temel Analizi
        {% endif %}
        </h1>
      </div>


      <table id="coin-table" class="sortable table responsive">
        <thead>
          <tr>
            <th>
              {% if site_lang == 'en' %}
              Name
              {% else %}
              İsim
              {% endif %}
            </th>

            <th class="text-center">
              {% if site_lang == 'en' %}
              Summary
              {% else %}
              Özet
              {% endif %}
            </th>

            <th class="text-center" data-toggle="tooltip" data-placement="top" data-html="true" title="
4: Definitely buy this coin.
<br>
3: This is one of the best coins I’ve seen.
<br>
2: You should definitely check this out.
<br>
1: This coin is worth a look.
<br>
0: I’m neutral about this coin.
<br>
-1: Shitcoin.">
              {% if site_lang == 'en' %}
              Score
              {% else %}
              Puan
              {% endif %}
            </th>

            <th class="text-center">
              {% if site_lang == 'en' %}
              Date
              {% else %}
              Tarih
              {% endif %}
            </th>
            <th class="text-center">
              {% if site_lang == 'en' %}
              Researcher
              {% else %}
              Araştırmacı
              {% endif %}
            </th>
          </tr>
          </thead>

          <tbody>
          {% for coin in site.coins %}
          {% for analysis in analyses %}
          {% if analysis.coin == coin.slug %}
          {% for researcher in site.researchers %}
          {% if analysis.researcher == researcher.slug %}
          <tr>
            <td data-order="{{ coin.name }}" class="align-middle">
              <!-- <a href="{{ coin.url | prepend: site.baseurl }}">{{ coin.name }}</a> -->
              <!-- <img src="{{ '.png' | prepend: coin.slug | prepend: '/assets/img/icons/16x16/' | prepend: site.baseurl }}" height="16" width="16"> -->
              {% if coin.cmc_idx %}
              <img class="logo-sprite" src="{{ '.png' | prepend: coin.cmc_idx | prepend: 'https://s2.coinmarketcap.com/static/img/coins/16x16/' }}" height="16" width="16">
              {% else %}
              <img class="logo-sprite" src="{{ '/assets/img/16x16_placeholder.png' | prepend: site.baseurl }}" height="16" width="16">
              {% endif %}
              <span>{{ coin.name }}</span>
            </td>
            <td class="text-center align-middle">
              <a href="{{ analysis.url | prepend: site.baseurl }}" target="_blank">
                {{ analysis.tldr }}
              </a>
            </td>
            <td class="text-center align-middle">{{ analysis.score }}</td>
            <td class="text-center align-middle" data-order="{{ analysis.date | date: '%Y%m%d' }}">
              {% if site_lang == 'en' %}
              {{ analysis.date | date: '%B %d, %Y' }}
              {% else %}
              {{ analysis.date | date: ' %d.%m.%Y' }}
              {% endif %}
            </td>
            <td class="text-center align-middle">
              <!-- <a href="{{ researcher.url | prepend: site.baseurl }}">{{ researcher.name }}</a> -->
              {% if researcher.twitter %}
              <a href="https://twitter.com/{{ researcher.twitter }}" target="_blank">
                {{ researcher.name }}
              </a>
              {% else %}
              {{ researcher.name }}
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endif %}

          {% endfor %}
          {% endfor %}
          </tbody>
      </table>
    </div>

    {% include main/footer.html %}

    {% include externals/scripting.html %}
</body>
<script>
  $(document).ready(function() {
  $('#coin-table').DataTable({
  responsive: true
  });
  } );
</script>
</html>


